body {
  padding: 0em 1em;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 2vw;
}

p {
  font-size: 1.5vw;
  line-height: 1.5vw;
}

header {
  width: 100%%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.siteHeader {
  width: 50%;
  margin: 15px 0px;
}

.siteNav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
}

.navButton {
  margin: 0em 1em 0em 0em;
  font-size: 1.5em;
  text-decoration: none;
}

.homeSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: top;
  margin-top: 1.5em;
}

#profilePic {
  width: 100%;
  align-content: center;
}

.profilePic {
  width: 48%;
}

.homepageArticle {
  width: 50%;
}

@media screen and (max-width: 1023px) {
  .siteHeader {
    width: 100%;
  }

  .siteNav {
    width: 100%;
    justify-content: flex-start;
  }

  .profilePic {
    width: 100%;
  }

  .homepageArticle {
    width: 100%;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.25em;
    line-height: 1.25em;
  }
}
.projectCard {
  display: grid;
  grid-template-columns: [leftEdge] 24% [line2] 24% [line3] 4% [line4] 24% [line5] 24% [rightEdge];
  grid-template-rows: [topEdge] auto [row1-end] auto [row2-end] auto [bottomEdge];
}

.projectName {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.projectSummary {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.projectPic {
  grid-column: 4 / span 2;
  grid-row: 1 / 4;
}

.projectPic img {
  width: 100%;
}

.projectNav {
  grid-row: 3;
  grid-column-start: 1 / span 2;
}
.projectNav a {
  background-color: peru;
  padding: 3px;
}

@media screen and (max-width: 1023px) {
  .projectCard {
    display: flex;
    flex-wrap: wrap;
  }
  .projectPic {
    width: 100%;
  }
}

.resume {
  display: flex;
  flex-flow: wrap;
}

#resumeTitle {
  width: 100%;
}
.bodyTop {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
}

.name {
  grid-column: 1/1;
  grid-row: 1/ span 2;
  margin: 0px;
}

#email{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  justify-self: end;
}

#phone{
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
  justify-self: end;
}

.resumeSummary{
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.sectionTitle{
  width: 100%;
}
.job{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.company{
  margin: 0px;
  width: 50%;
  font-size: 1.5vw;
}

.dateBox{
  display: flex;
  width:50%;
  justify-content: flex-end;
}
.dateBox p{
  margin: 0px;
}

.jobTitle{
  font-size: 1.5vw;
  margin: 0px;
  font-weight: 100;
}

.jobDescription{
  font-size: 1.2vw;
}