body {
  margin: 0em 2em;
}

header {
  width: 100%%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

#pageHeader {
  width: 50%;
  margin: 15px 0px;
}

.siteNav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.navButton {
  text-decoration: none;
  background-color: paleturquoise;
  padding: 2px;
}

.homeSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: top;
  margin-top: 1.5em;
}

.profilePic {
  width: 48%;
}

#profilePic {
  width: 100%;
}

.homepageArticle {
  width: 48%;
}

.pageTitle {
  font-size: 3em;
  margin: 0em;
}

h2 {
  font-size: 2em;
  margin: 0.2em 0em;
}

.hello {
  margin-top: 0em;
  font-size: 1.5em;
}

.homeSummary {
  margin: 0px;
}

.projectCard {
  display: grid;
  grid-template-columns: [leftEdge] 1fr [line2] 1fr [line3] 5% [line4] 1fr [line5] 1fr [rightEdge];
  grid-template-rows: [topEdge] auto [row1-end] auto [row2-end] auto [bottomEdge];
}

.projectName {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.projectSummary {
  grid-column: 1 / span 2;
  grid-row: 2;

}

.projectPic {
  grid-column: 4 / span 2;
  grid-row: 1 / 4;
  place-self: center right;
}

.projectNav {
  grid-row: 3;
  grid-column-start: 1 / span 2;
}
.projectNav a {
  background-color: peru;
  padding: 3px;
}
